<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href="{{ url_for ('static', filename = 'css/about.css') }}">

    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-bundle.min.js"></script>

</head>

<body>
    {% extends "nav.html" %}
    {% block content %}
    <div class="container mt-3">
        <!-- Why this project section -->
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2>Why This Project?</h2>
                <p class="text-muted">
                    The used car market is a booming market at the moment but a lack of centralized governance on prices means users have to scour the web in order to find fair prices.
                    The graph below is just one example of how used car prices have been increasing over the years.
                </p>
                <p>Explore the trends in Used Car Prices in the chart below!</p>
            </div>
        </div>
        
        <!-- LOAD GRAPH -->
        <div class="row justify-content-left mb-4">
            <div class="col-md-10 text-left">
                <div id="container_lineplot"></div>
                <script type="text/javascript">
                    anychart.onDocumentReady(function() {
                        var chart_data = JSON.parse('{{ chart_data | tojson | safe }}'); // Parse the JSON data
                        var chart = anychart.line();
                        // Loop through manufacturers and create series for each
                        for (var manufacturer in chart_data) {
                            var seriesData = anychart.data.set(chart_data[manufacturer]['year'].map(function(value, index) {
                                return [value, chart_data[manufacturer]['avg_price'][index]];
                            }));
                            var series = chart.line(seriesData);
                            series.name(manufacturer);
                        }
                        chart.legend().enabled(true);
                        chart.title("Average Prices for Selected Manufacturers");
                        chart.container("container_lineplot");
                        chart.draw();
                    });
                </script>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
        <!-- LOAD GRAPH END -->
        

        <!-- Features section -->
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2>Features of our Web Application</h2>
                <p>Our search engine will return all the relevant listings based on your filtering criteria and listings.</p>
            </div>
        </div>

        <!-- Feature items -->
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="p-3 shadow">
                    <img src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052d55bdf9c668dfa674c2_social-network.svg" class="mb-3" alt="Easy to use">
                    <h3>Easy to use</h3>
                    <p class="text-muted">Simply type in your desired preferences and let our technology scour the web for the best options. Save time without having to navigate complex search filters or menus.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-3 shadow">
                    <img src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052c879b36847fce2b058b_search-paper.svg" class="mb-3" alt="Accurate results">
                    <h3>Accurate results</h3>
                    <p class="text-muted">Our powerful algorithms search thousands of car listings to give you the most relevant recommendations while maintaining the flexibility to filter and narrow your search based on your criterion so you can be sure you're finding your perfect car.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-3 shadow">
                    <img src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052dfc4b57264a0e9adf5e_credit-card.svg" class="mb-3" alt="Fair Prices">
                    <h3>Fair Prices</h3>
                    <p class="text-muted">Whether you are looking to buy a used car for yourself, the next car for your family or a first car for your child, you can feel confident you will only ever pay a fair price.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-3 shadow">
                    <img src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052ba340112146c498b0b2_promotion.svg" class="mb-3" alt="Get notified">
                    <h3>Get notified</h3>
                    <p class="text-muted">Never miss out on the right time to buy the perfect car. Our data is continuously being updated with more information from across the web, sign up for notifications and be the first to know when your car is available.</p>
                    <a id = 'signUp' href = '#header' onclick="scrollToNavBar()"> Sign Up for notifications</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
     <!-- Javascript file imports-->
     <!-- Above this line is where unique code layout ends. Below are imports -->
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <script src = "{{ url_for('static', filename = 'main.js')}}"></script>
</body>
</html>
