<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div clsss = 'container'>
            <h1>Meet The Team</h1>

            <!-- Row Template to be copied to Each group Memeber-->
            <div class = 'row'>
                <div clss = 'col-md-3'>
                    <img src = "{{ url_for('static', filename = 'about/jared_copy.png') }}" class = 'img-fluid' alt = 'Image 1'>
                </div>
                <div clss = "col-md-9">
                    <h3> Name </h3>
                    <p> <strong> Role: </strong> Frontend Development, Github repository Coordinator, blah blah blah</p>
                    <p> <strong> Bio: </strong> Pretty cool at stuff</p>
                    <p> <strong> Goals: </strong> Make lots of money and be awesome and sick and stuff</p>
                    <p> <strong> Links: 
                        <a href = 'https://github.com/jaredap1995' target = "_blank"> Github</a>
                        <a href = 'https://www.linkedin.com/in/jared-perez/' target = "_blank"> LinkedIn</a>
                        <a href = 'https://leetcode.com/jaredaperez1995/' target = '_blank'> Leetcode</a>
                    </strong></p>
                </div>
            </div>
            <!-- End of Row Template -->

        </div>
    </body>
</html>