<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href="{{ url_for ('static', filename = 'css/about.css') }}">
</head>

<body>
    <div class="container-large">
        <div class="padding-vertical padding-x-huge">
            <div class="w-layout-grid feature-component">
                <div data-w-id="cdeeeeb3-71c8-c79a-f6fd-fd6abf3117ae"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="feature-content">
                    <div class="margin-bottom margin-x-small">
                        <h2 class="heading-medium">Why <span class="text-span">Carfit.ai</span>?</h2>
                    </div>
                    <div class="text-size-medium text-style-muted">Say goodbye to the frustration of scrolling through
                        endless car listings. Carfit makes finding the perfect car effortless.<br><br>For example, you
                        can type "black SUV for less than 10.000€" and our search engine will return all the relevant
                        listings.</div>
                </div>
                <div data-w-id="cdeeeeb3-71c8-c79a-f6fd-fd6abf3117c1"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="w-layout-grid feature-layout-list">
                    <div class="feature-item shadow-small">
                        <div class="feature-item-content">
                            <div class="margin-bottom margin-medium">
                                <div class="icon-featured-square-large"><img
                                        src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052d55bdf9c668dfa674c2_social-network.svg"
                                        loading="lazy" alt="" class="icon-1x1-x-small-copy-3"></div>
                            </div>
                            <div class="margin-bottom margin-xx-small">
                                <h3 class="text-size-large">Easy to use</h3>
                            </div>
                        </div>
                        <div class="text-size-regular text-style-muted">Simply type in your desired preferences and let
                            our technology scour the web for the best options. Save time without having to navigate
                            complex search filters or menus.</div>
                    </div>
                    <div class="feature-item shadow-small">
                        <div class="feature-item-content">
                            <div class="margin-bottom margin-medium">
                                <div class="icon-featured-square-large"><img
                                        src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052c879b36847fce2b058b_search-paper.svg"
                                        loading="lazy" alt="" class="icon-1x1-x-small-copy-2"></div>
                            </div>
                            <div class="margin-bottom margin-xx-small">
                                <h3 class="text-size-large">Accurate results</h3>
                            </div>
                        </div>
                        <div class="text-size-regular text-style-muted">Our powerful algorithms search thousands of car
                            listings to give you the most relevant results, so you can be sure you're finding your
                            perfect car.</div>
                    </div>
                    <div class="feature-item shadow-small">
                        <div class="feature-item-content">
                            <div class="margin-bottom margin-medium">
                                <div class="icon-featured-square-large"><img
                                        src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052dfc4b57264a0e9adf5e_credit-card.svg"
                                        loading="lazy" alt="" class="icon-1x1-x-small-copy-5"></div>
                            </div>
                            <div class="margin-bottom margin-xx-small">
                                <h3 class="text-size-large">Buying and rentals</h3>
                            </div>
                        </div>
                        <div class="text-size-regular text-style-muted">Whether you are looking to buy or rent a car,
                            our AI-powered search engine makes the process simple. Discover the new way to search for
                            cars online!</div>
                    </div>
                    <div class="feature-item shadow-small">
                        <div class="feature-item-content">
                            <div class="margin-bottom margin-medium">
                                <div class="icon-featured-square-large"><img
                                        src="https://uploads-ssl.webflow.com/6404ba229d7341e232b1c96c/64052ba340112146c498b0b2_promotion.svg"
                                        loading="lazy" alt="" class="icon-1x1-x-small-copy"></div>
                            </div>
                            <div class="margin-bottom margin-xx-small">
                                <h3 class="text-size-large">Get notified</h3>
                            </div>
                        </div>
                        <div class="text-size-regular text-style-muted">Never miss out on the perfect car. We let you
                            set up notifications for when a specific make, model, or year becomes available. Be the
                            first to know when your car is available.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>