<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        html, body, #container {
            width: 100%; height: 100%; margin: 0; padding: 0;
        }
    </style>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-bundle.min.js"></script>
</head>
<body>
<h1>HELLO WORLD</h1>
<div id="container"></div>
<script type="text/javascript">
    anychart.onDocumentReady(function() {
        var chart_data = JSON.parse('{{ chart_data | tojson | safe }}'); // Parse the JSON data
        var chart = anychart.line();
        // Loop through manufacturers and create series for each
        for (var manufacturer in chart_data) {
            var seriesData = anychart.data.set(chart_data[manufacturer]['year'].map(function(value, index) {
                return [value, chart_data[manufacturer]['avg_price'][index]];
            }));
            var series = chart.line(seriesData);
            series.name(manufacturer);
        }
        chart.legend().enabled(true);
        chart.title("Average Prices for Selected Manufacturers");
        chart.container("container");
        chart.draw();
    });
</script>
</body>
</html>