<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href="{{ url_for ('static', filename = 'css/team.css') }}">
</head>

<body>
    {% extends "nav.html" %}
    {% block content %}
    <div class='container mt-4'>
        <h1 id = 'headText' class = 'row justify-content-center'>Meet The Team</h1>
        <!-- Row Template to be copied to Each group Memeber-->
        <div class='row justify-content-center'>
            <div class='col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class = 'col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/jared_copy.png') }}" class='img-fluid' alt='Image 1'>
                        </div>

                        <div class="col-md-8">
                            <h3 class = 'mb-2'> Jared Perez </h3>
                            <p> <strong> Project Role: </strong> Frontend Development, Github repository Coordinator
                            </p>
                            <p> <strong> Bio: </strong> I am a data engineer and data scientist with experience developing full-stack applications and developing machine learning applications, honed during my PhD in Digital Health and Data Science. Having previously served as a data analyst, I am passionate about leveraging data-driven insights to enhance healthcare outcomes.</p>
                            <p> <strong> Goals: </strong> Join a health tech company as part of the data team and ultimately become a machine learning engineer</p>
                            <p> <strong> Links:
                                    <a href='https://github.com/jaredap1995' target="_blank"> Github</a>
                                    <a href='https://www.linkedin.com/in/jared-perez/' target="_blank"> LinkedIn</a>
                                    <a href='https://leetcode.com/jaredaperez1995/' target='_blank'> Leetcode</a>
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Row Template -->

        <div class='row justify-content-center'>
            <div class='col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class = 'col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/bryant.jpeg') }}" class='img-fluid' alt='Image 1'>
                        </div>

                        <div class="col-md-8">
                        <h3> Bryan Tsan-Tang </h3>
                        <p> <strong> Project Role: </strong> Regression Analysis, Proposal Development, Data Wrangling</p>
                        <p> <strong> Bio: </strong> I am a data analyst passionate about transforming raw information into actionable insights. With a Bachelor's Degree in Actuarial Science and a certificate in Data Analytics from UC Berkeley, I possess a solid statistical foundation and cutting-edge technical skills. Equipped with expertise in Python, SQL Databases, JavaScript, and Tableau, I am prepared to drive business growth through advanced analytics and data-driven decision-making.</p>
                        <p> <strong> Goals: </strong> Make an impact!</p>
                        <p> <strong> Links:
                                <a href='https://github.com/bryan-tt' target="_blank"> Github</a>
                                <a href='https://www.linkedin.com/in/bryan-tsan-tang/' target="_blank"> LinkedIn</a>
                                <!-- Any other links LMK-->
                            </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class = 'col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/irfan.png') }}" class='img-fluid' alt='Irfan_image'>
                        </div>

                        <div class="col-md-8">
                            <h3> İrfan Sencer Şenyurt </h3>
                            <p> <strong> Project Role: </strong> Database, Visualization</p>
                            <p> <strong> Bio: </strong> I'm Irfan Sencer Şenyurt. Originally from Istanbul in Turkey, I have MSc. Mechanical Engineering. My passion for technology led me to the United States.
                                I'm pursuing a path in data science and enjoy working with data. I enhanced my skills through course at UC Berkeley. While not currently in an active role, I'm continuously staying updated in data science and AI.</p>
                            <p> <strong> Goals: </strong>I aspire to remain immersed in data and continue generating solutions.</p>
                            <p> <strong> Links:
                                    <a href='https://github.com/sncrsenyurt' target="_blank"> Github</a>
                                    <a href='https://www.linkedin.com/in/irfan-sencer-%C5%9Fenyurt-89a28014b/' target="_blank">
                                        LinkedIn</a>
                                    <!-- Any other links LMK-->
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class = 'col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class='col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/jena.jpeg') }}" class='img-fluid' alt='Jen_image'>
                        </div>

                        <div class="col-md-8">
                            <h3> Jen Alfson </h3>
                            <p> <strong> Project Role: </strong>Recommendation Model, Data Cleaning</p>
                            <p> <strong> Bio: </strong> I am an experienced Project Manager turned Data Analyst, blending analytical acumen with business experience. I’ve obtained a B.S. in Biological Sciences from Cal Poly SLO and a Data Analytics certificate from UC Berkeley. Now primarily focused on shaping data into actionable insights to improve business efficiency and results.</p>
                            <p> <strong> Goals: </strong> Positively impact work and life through efficient problem-solving and supportive communication.</p>
                            <p> <strong> Links:
                                    <a href='https://github.com/jennyalfi' target="_blank"> Github</a>
                                    <a href='https://www.linkedin.com/in/jennifer-alfson-7b0656/' target="_blank"> LinkedIn</a>
                                    <!-- Any other links LMK-->
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class='row justify-content-center'>
            <div class = 'col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class='col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/matthewf.jpeg') }}" class='img-fluid' alt='Matt_image'>
                        </div>

                        <div class="col-md-8">
                            <h3> Matthew Fernandez </h3>
                            <p> <strong> Project Role: </strong> Data Engineering, Postgres Database Setup, Data Science Lead</p>
                            <p> <strong> Bio: </strong> I was born and raised in the Bay Area, CA and attended California State University - Monterey Bay, where I obtained my Bachelor's Degree in Computer Science with a concentration in Data Science. I am a full time Data Scientist at the Naval Research Laboratory and a part-time AI ML TA @ Apple.
                            I specialize in applied Machine Learning methodologies. I have experience in the whole workflow of a Data Science project from collecting the data, processing the data to tying the Machine Learning models to a front-end graphical user interface. With my ability to build strong relationships, great communication skills, passion for what I do, and years of experience in ETL data, I'm looking forward to what is to come in my Data Science career.</p>
                            <p> <strong> Goals: </strong> Be awesome!</p>
                            <p> <strong> Links:
                                    <a href='https://github.com/mattf4171' target="_blank"> Github</a>
                                    <a href='https://www.linkedin.com/in/matthew-fernandez-4b9763180/' target="_blank"> LinkedIn</a>
                                    <!-- Any other links LMK-->
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class = 'col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class='col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/koltonxie.jpeg') }}" class='img-fluid' alt='Matt_image'>
                        </div>

                        <div class="col-md-8">
                            <h3> Kolton Xie </h3>
                            <p> <strong> Project Role: </strong> Recommender System</p>
                            <p> <strong> Bio: </strong>A data analyst hoping to make a difference using data to empower strategy and insights. With a strong Marketing background and a data analyst certificate from UC Berkeley, I am well equipped with a technical understanding of Python, SQL, and JavaScript to drive data-driven business decisions.</p>
                            <p> <strong> Goals: </strong>Use data to tell relevant, impactful stories.</p>
                            <p> <strong> Links:
                                    <a href='https://github.com/kottonxie' target="_blank"> Github</a>
                                    <a href='https://www.linkedin.com/in/koltonxie/' target="_blank"> LinkedIn</a>
                                    <!-- Any other links LMK-->
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class='col-md-9 mb-4'>
                <div class = 'team-card card-shadow'>
                    <div class = 'row'>
                        <div class = 'col-md-4'>
                            <img src="{{ url_for('static', filename = 'team/kyles.jpg') }}" class='img-fluid' alt='Matt_image'>
                        </div>

                        <div class="col-md-8">
                            <h3> Kyle Stephens </h3>
                            <p> <strong> Project Role: </strong> Regression Analysis, Data Engineer, Flask Queries</p>
                            <p> <strong> Bio: </strong> I'm working to break into a career in data analytics and possibly pursue further education in machine learning! I'm passionate about finding insights and patterns in data to help people. With my background in Economics and Finance I love using data analysis methods to understand the market and create actionable insights!</p>
                            <p> <strong> Goals: </strong> Launch a career in data analytics.</p>
                            <p> <strong> Links:
                                    <a href='https://github.com/KAMAS-2058' target="_blank"> Github</a>
                                    <a href='https://www.linkedin.com/in/stephkyl/' target="_blank"> LinkedIn</a>
                                    <!-- Any other links LMK-->
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Javascript file imports-->
    <!-- Above this line is where unique code layout ends. Below are imports -->
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename = 'main.js')}}"></script>

</body>

</html>


